body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
    background: linear-gradient(135deg, #edf1f5, #f0f3f1);
}

/* Barre latérale */
.sidebar {
    width: 250px;
    height: 100%;
    background: linear-gradient(135deg, #ffffff, #e5e7e6);
    position: fixed;
    left: 0;
    top: 0;
    transition: 0.3s;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
    padding-top: 60px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.sidebar ul li {
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar ul li:hover, .sidebar ul li.active {
    background: linear-gradient(135deg, hsl(240, 20%, 99%), #e0e7e3);
}


/* Bouton Menu (devant le contenu) */
.menu-toggle {
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 24px;
    background: #e3e5e7;
    color: white;
    padding: 12px 16px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, transform 0.2s;
    z-index: 10; /* Toujours devant */
}

.menu-toggle:hover {
    background: #0056b3;
    transform: scale(1.1);
}

/* Contenu principal */
.main-content {
    flex: 1;
    padding: 20px;
    text-align: center;
    margin-left: 250px;
    transition: margin-left 0.3s;
}

/* Bouton Ajouter */
.btn-add {
    background: #0011ff8c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.btn-add:hover {
    background: #f9faf8ac;
}

/* Cartes */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.card {
    background: rgba(255, 255, 255, 0.724);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.861);
    transition: 0.3s;
    font-size: 18px;
}

.card.alert {
    background: rgba(255, 0, 0, 0.2);
}

.card:hover {
    transform: scale(1.05);
}

/* Dernières interventions */
.latest-actions {
    background: linear-gradient(180deg, #4a53ef, #ffffff);
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.latest-actions h2 {
    font-size: 20px;
}

.latest-actions ul {
    list-style: none;
    padding: 0;
}

.latest-actions ul li {
    padding: 10px;
    border-bottom: 1px solid #95b5ff;
}
.btn {
    background: #0015ff93;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}

.btn:hover {
    background: #0056b3;
}